{% extends 'base.html.twig' %}
{% block title %}album - {{album.name}}{% endblock %}
{% block stylesheets %}
	<link
	type="text/css" rel="stylesheet" href="{{asset('public/css/lightgallery.css')}}"/>
	<!-- lightgallery plugins -->
	<link type="text/css" rel="stylesheet" href="{{asset('public/css/lg-zoom.css')}}"/>
	<link type="text/css" rel="stylesheet" href="{{asset('public/css/lg-thumbnail.css')}}"/>
{% endblock %}

{% block body %}
	<style>
		div.lightgallery img {
			width: 100%;
			height: auto;
		}

		.container {
			padding: 0 6px;
			width: 25%;
		}
	</style>
	<div class="container is-centered">

		<h1 class="title is-1 mt-2">{{album.name}}</h1>

		{% if photos|length > 0 %}
			<div id="lightgallery">
				{% for photo in photos %}
					<a href="{{ asset('public/uploads/photos/' ~ photo.path) }}">
						<img src="{{ asset('public/uploads/photos/' ~ photo.path) }}"/>
					</a>
				{% endfor %}
			</div>
		{% else %}
			<h3 class="subtitle is-5 mt-2">Пока ни одной фотографии!</h3>
		{% endif %}


		{% if is_owner %}
			<div class="columns">
				<div class="column">
					{{ form(photo_form) }}
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<form action="{{ path('edit_album', {id: album.id}) }}">
						<input class="button is-warning is-light" type="submit" value="Редактировать"/>
					</form>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<form method="post" action="{{path('delete_album')}}" onsubmit="return confirm('Альбом и все его фотографии будут удалены. Продолжить?');">
						<button class="button is-danger is-light" type="submit" name="delete_album" value="{{album.id}}">удалить</button>
					</form>
				</div>
			</div>
		{% endif %}
	</div>
	<script src="{{asset('public/js/lightgallery.min.js')}}"></script>
	<script src="{{asset('public/js/plugins/lg-thumbnail.umd.js')}}"></script>
	<script src="{{asset('public/js/plugins/lg-zoom.umd.js')}}"></script>
	<script src="{{asset('public/js/start_lg.js')}}"></script>
	{% endblock %}
