{% extends 'base.html.twig' %}

{% block title %}Gallery - main{% endblock %}

{% block body %}
	<form method="post" action="{{path('delete_album')}}" onsubmit="return confirm('Альбом и все его фотографии будут удалены. Продолжить?');">
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th>Название</th>
				<th>
					<abbr title="Количество фотографий в альбоме">Размер</abbr>
				</th>
				<th>
					Дата создания
				</th>
			</tr>
		</thead>
		<tbody>
			{% if user_albums|length > 0 %}
				{% for album in user_albums %}
					<tr>
						<td>
							<a href="{{ path('album', {id: album.id}) }}">{{album.name}}</a>
							<button class="delete is-small" type="submit" name="delete_album" value="{{album.id}}">удалить</button>
						</td>
						<td>{{album.size}}</td>
						<td>
							{{album.created_at|format_datetime('medium', 'short')}}
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="3">Не создано ни одного пользовательского альбома
						{% if not app.user %}
							<a href="{{ path('app_register') }}">(нужен аккаунт)</a>
						{% endif %}
					</td>
				</tr>
			{% endif %}
	</form>
	
			{% if app.user %}
				<tr>
					<td colspan="1" style="border-bottom: none;">
						{{ form(album_form) }}
						</td>
					</td>
				</tr>
			{% endif %}

			<tr>
				<td class="pt-5" colspan="3" style="font-weight:bold; border-top: none;">
					Альбомы других пользователей
				</td>
			</tr>

			{% if all_albums|length > 0 %}
				{% for album in all_albums %}
					<tr>
						<td>
							<a href="{{ path('album', {id: album.id}) }}">{{album.name}}</a>
						</td>
						<td>{{album.size}}</td>
						<td>
							{{album.created_at|format_datetime('medium', 'short')}}
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="3">Не создано ни одного альбома</td>
				</tr>
			{% endif %}
			<tr>{# для границы #}</tr>
			
		</tbody>
	</table>
{% endblock %}
