<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<section class="hero is-small is-primary">
			<div class="hero-body">
				<div class="title">
					<p class="title is-2">
						<a class="has-text-link-light" href="{{ path('homepage') }}">Gallery</a>
					</p>
					<p class="subtitle pt-1">
						{% if app.user %}
							Hello, {{app.user}} |
							<a class="has-text-danger-light" href="/logout">Logout</a>
						{% else %}
							Hello, guest |
							<a class="has-text-link-light" href="{{ path('app_login') }}">Login</a>
							<a class="has-text-link-light" href="{{ path('app_register') }}">Registration</a>
						{% endif %}
					</p>
				</div>
			</div>
		</section>
		{% block body %}{% endblock %}
	</body>
</html>
